# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs/
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# IDE files
.vscode/*
!.vscode/*.example.jsonc

# Local Data
.browser-profile
data/*

# PDM
.pdm-python
__pypackages__/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
venv/
.venv/

# Uploads
uploads/
*.xlsx
*.xls
!Customer\ Value\ Data\ Table.xlsx
!Customer\ Value\ Data\ Table\ -\ test.xlsx

# Model outputs
*.json
!package.json
!tsconfig.json
!drizzle.config.ts
!i18n/locales/*.json
*_Params.json
Model_Comparison_*.xlsx
output.xlsx

# Database migrations
server/database/migrations/